/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}



html {
    background: radial-gradient(ellipse at top, #e66465, transparent), radial-gradient(ellipse at bottom, #4d9f0c, transparent);
    font-family: 'Allerta Stencil', sans-serif;
}

body {
    background: rgba(0, 0, 0, 0.25);
    width: 75%;
    margin: auto;
    padding-left: 20px;
}

.wrap-all {
    max-width: 70%;
}

.site-logo {
    display: none;
}

header li {
    display: inline;
}

header a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
header a:hover {
    color: rgb(0, 0, 0, 0.6);
    font-weight: bold;
    -webkit-transform: scale(1.2);
}

header a:active {
    color: rgb(0, 0, 0, 0.7);
}

li {
    list-style-type: none;
    padding-right: 20px;
}

.footer-column {
    width: 32%;
    float: left;
    border:  grey 2px;
    border-style: inset;
    padding-left: 4px;
}

.region-header {
    border: dashed grey 4px;
}

.region-flash img {
    border: dashed grey 4px;
    margin-top: 5px;
    width: 1000px;
}

.figure img {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.region-header-col-1 {
    display: none;
}

.wrap-sidebar {
    border: dashed grey 4px;
    margin-top: 5px;
}

.byline {
    border:  grey 2px;
    border-style: inset;
}
