/**
 * Layout for responsive style through media queries.
 */

@media screen and (max-width: 1500px) {
    .site-logo {
        display: none;
    }
}

// img {
//     max-width: 100%;
// }

/**
 * Navbar.
 */

@media screen and (max-width: 960px) {
    .rm-desktop a {
        display: none;
    }
}

@media screen and (max-width: 590px) {
    .rm-desktop {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .region-header-col-1 {
        float: none;
    }
}

@media screen and (max-width: 500px) {
    .footer-column {
        display: none;
    }
}
